/**
 * @author {{ author }}
 * @codeName {{ code_name }}
 * @description {{ description }}
 * @createTime {{ today }}
 * @bindingObjectLabel {{ object_label }}
 * @bindingObjectApiName {{ object_api }}
 * @函数需求编号
 */
